{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ project.name }}</h1>
			<p>{{ project.description|safe }}</p>
			{% if currentuser.is_student %}
                {% if project.taken == True %}
                    <a href="project/ditchProject?proj={{ project.id }}" class="btn btn-default">Leave The Project</a>
                {% else %}
                    <a href="project/takeProject?proj={{ project.id }}" class="btn btn-default">Take Up The Project</a>
                {% endif %}
            {% endif %}
	    </div>

        {% if project.taken == True %}
            <p>{{ project.taken_by }}</p>
        {% endif %}
    </div>

{% endblock %}