{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ project.name }}</h1>
			<p>{{ project.description|safe }}</p>
            <!--
            {% if userIsMember %}
            <a href="/university/unjoin?name={{ university.name }}" class="btn btn-default">Unjoin this University</a>
            {% else %}
            <a href="/university/join?name={{ university.name }}" class="btn btn-default">Join this University</a>
            {% endif %}
            -->
            <a href="/project/addbookmark?id={{ project.id }}" class="btn btn-primary">Bookmark this project</a>
			{% if currentuser.is_student %}
			{% if False == True %}
                <a href="" class="btn btn-primary">Leave The Project</a>
			{% else %}
			    <a href="" class="btn btn-primary">Take Up The Project</a>
			{% endif %}
            {% endif %}
	    </div>
    </div>

{% endblock %}