{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="jumbotron">
			<h3 style="margin: 0px; padding: 0px;">Create Project</h3>
		</div>
		<div class="panel panel-default">
			<form method="post" action="" class="panel-body validate">
				{% csrf_token %}
				<label for="name">Name</label>
                <h6 style="color:red">{{ error }}</h6>
				<input type="text" name="name" id="name" placeholder="Name" class="form-control" data-bvalidator="required" data-bvalidator-msg="Name Required">
				<br>
				<label for="description">Project Description</label>
				<input type="text" name="description" id="description" placeholder="Description" class="form-control" data-bvalidator="required" data-bvalidator-msg="Description Required">
				<br>
                <label for="languages">Programming Languages</label>
				<input type="text" name="languages" id="languages" placeholder="Programming Languages" class="form-control">
				<br>
                <label for="speciality">Speciality</label>
				<input type="text" name="speciality" id="speciality" placeholder="Speciality" class="form-control">
				<br>
                <label for="years">Years of Experience</label>
				<input type="number" name="years" id="years" placeholder="Number of Years" class="form-control" min="0">
				<br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
	
{% endblock %}