{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ project.name }}</h1>
			<p>{{ project.description|safe }}</p>
			{% if currentuser.is_student %}
			{% if False == True %}
                <a href="" class="btn btn-default">Leave The Project</a>
			{% else %}
			    <a href="" class="btn btn-default">Take Up The Project</a>
			{% endif %}
            {% endif %}
	    </div>
    </div>

{% endblock %}