{% extends "body.html" %}

{% block content %}

	<!-- Content -->
    <div class="container theme-showcase" role="main">
        <p style="font-family: 'Courier New'; font-size: x-small;"><b>Account type:</b> <u>{{ type }}</u></p>
		<div class="jumbotron">
			<h1 style="text-align: center"><img class="img-circle" src="{{ profile.photo }}"></h1>

            {% if request_user == None %}
                <p>Welcome <b>{{ user.first_name }}</b>, to the CS390-Python CS Capstone Project!</p>
                {% if user.is_professor %}
                  <a class="btn btn-primary" style="float: right" href="/update_profile">Edit Account Info</a>
                  <a class="btn btn-primary" style="float: right" href="/university/course/form?name={{ profile.university }}">Create Course</a>
                  <a class="btn btn-primary" style="float: right" href="/university/courses/teacher">Show My Courses</a>
                {% elif user.is_student %}
                    <a class="btn btn-primary" style="float: right" href="/update_profile">Edit Account Info</a>
                    <a class="btn btn-primary" style="float: right" href="/group/form">Create Group</a>
                    <a class="btn btn-primary" style="float: right" href="/group/query?owner={{ user.id }}">Show My Groups</a>
                    <a class="btn btn-primary" style="float: right" href="/group/all">Show All Groups</a>
                {% elif user.is_engineer %}
                    <a class="btn btn-primary" style="float: right" href="/update_profile">Edit Account Info</a>
                    <a class="btn btn-primary" style="float: right" href="/project/form?name={{ profile.company }}">Create Project</a>
                    <a class="btn btn-primary" style="float: right" href="">Show My Projects</a>
                    <a class="btn btn-primary" style="float: right" href="/project/all">Show All Projects</a>
                {% endif %}
            {% else %}
                <p><b>{{ user.first_name }}</b> <b>{{ user.last_name }}</b></p>
            {% endif %}

		</div>
        <div class="container" style="font-family: 'Courier New';">
            <p><b><u>Account Summary</u></b></p>
            <p><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
            {% if user.is_professor %}
                <p><b>University:</b> {{ profile.university }}</p>
                <p><b>Department:</b> {{ profile.department }}</p>
                <p><b>Contact:</b> {{ profile.contact }}</p>
                <p><b>Email:</b> {{ user.email }}</p>
            {% elif user.is_student %}
                <p><b>University:</b> {{ profile.university }}</p>
                <p><b>Skills:</b> {{ profile.skills }}</p>
                <p><b>Major:</b> {{ profile.major }}</p>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Experience:</b>{{ profile.experience }}</p>
            {% elif user.is_engineer %}
                <p><b>Bio:</b> {{ profile.bio }}</p>
                <p><b>Almamater:</b> {{ profile.almamater }}</p>
                <p><b>Contact:</b> {{ profile.contact }}</p>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Company:</b>{{ profile.company_id }}</p>
            {% endif %}
        </div>
    </div>

{% endblock %}