{% extends "body.html" %}

{% block content %}

	<!-- Content -->
    <div class="container theme-showcase" role="main" style="text-align: center">
        <p><b>Account type:</b> <u>{{ type }}</u></p>
		<div class="jumbotron">
            <p>Welcome <b>{{ user.first_name }}</b>, to the CS390-Python CS Capstone Project!</p>
            <h1 style="text-align: center"><img class="img-circle" src="{{ profile.photo }}"></h1>
            <h1 style="text-align: center"><img src="/{{ profile.photo }}" alt="Profile Image" width=150/></h1>
            {% if request_user == None %}
                <a class="btn btn-success" style="float: inherit" href="/project/mybookmarks">Show My Bookmarks</a>
                <a class="btn btn-success" style="float: inherit" href="/project/all">Show All Projects</a>
                {% if user.is_professor %}
                  <a class="btn btn-primary" style="float: inherit" href="/update_profile">Edit Account Info</a>
                  <a class="btn btn-primary" style="float: inherit" href="/university/course/form?name={{ profile.university }}">Create Course</a>
                  <a class="btn btn-primary" style="float: inherit" href="/university/courses/teacher">Show My Courses</a>
                {% elif user.is_student %}
                    <a class="btn btn-primary" style="float: inherit" href="/update_profile">Edit Account Info</a>
                    <a class="btn btn-primary" style="float: inherit" href="/group/form?name={{ profile.university }}">Create Group</a>
                    <a class="btn btn-primary" style="float: inherit" href="/group/query?owner={{ user.id }}">Show My Groups</a>
{#                    <a class="btn btn-primary" style="float: inherit" href="/group/all">Show All Groups</a>#}
                {% elif user.is_engineer %}
                    <a class="btn btn-primary" style="float: inherit" href="/update_profile">Edit Account Info</a>
                    <a class="btn btn-primary" style="float: inherit" href="/project/form?name={{ profile.company }}">Create Project</a>
                    <a class="btn btn-primary" style="float: inherit" href="/project/getMyProjects?owner={{ profile.id }}">Show My Projects</a>
                {% endif %}
            {% else %}
                <p><b>{{ user.first_name }}</b> <b>{{ user.last_name }}</b></p>
            {% endif %}
		</div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    {% if user.is_professor %}
                        <h2>{{ profile.university }}</h2>
                        <i>{{ profile.university.description|safe }}</i>
                    {% elif user.is_student %}
                        <h2><b><u>Courses</u></b></h2>
                        <table class="table table-striped sortable" style="text-align: left">
                            <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                <tr>
                                    <td><a href="">{{ course.name }}</a></td>
                                    <td>{{ course.description |safe }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    {% elif user.is_engineer %}
                        <h2>{{ profile.company}}</h2>
                        <i>{{ profile.company.description|safe }}</i>
                    {% endif %}
                </div>
                <div class="col-xs-4">
                    <h2><b><u>Account Summary</u></b></h2>
                    <h4> {{ user.first_name }} {{ user.last_name }}</h4>
                    {% if user.is_professor %}
                        <div>
                            <p><b>University:</b> {{ profile.university }}</p>
                            <p><b>Department:</b> {{ profile.department }}</p>
                            <p><b>Contact:</b> {{ profile.contact }}</p>
                            <p><b>Email:</b> {{ user.email }}</p>
                        </div>
                    {% elif user.is_student %}
                        <div>
                            <p><b>University:</b> {{ profile.university }}</p>
                            <p><b>Skills:</b> {{ profile.skills }}</p>
                            <p><b>Major:</b> {{ profile.major }}</p>
                            <p><b>Email:</b> {{ user.email }}</p>
                            <p><b>Experience:</b>{{ profile.experience }}</p>
                        </div>
                    {% elif user.is_engineer %}
                        <div>
                            <p><b>Bio:</b> {{ profile.bio }}</p>
                            <p><b>Almamater:</b> {{ profile.almamater }}</p>
                            <p><b>Contact:</b> {{ profile.contact }}</p>
                            <p><b>Email:</b> {{ user.email }}</p>
                            <p><b>Company:</b>{{ profile.company.name }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-4">
                    {% if user.is_professor %}
                        <h2><b><u>Classes teaching</u></b></h2>

                        <table class="table table-striped sortable" style="text-align: left">
                            <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for class in classes %}
                                <tr>

                                    <td><a href="university/course?id={{ class.id }}">{{ class.name }}</a></td>
                                    <td>{{ class.description |safe }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% elif user.is_student %}
                        <h2><b><u>Group Memberships</u></b></h2>

                        <table class="table table-striped sortable" style="text-align: left">
                            <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Speciality</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in groups %}
                                <tr>

                                    <td><a href="/group?name={{ group.name }}">{{ group.name }}</a></td>
                                    <td>{{ group.speciality }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% elif user.is_engineer %}
                        <h2><b><u>Projects Mentoring</u></b></h2>
                        <table class="table table-striped sortable" style="text-align: left">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr>
                                    <td><a href="">{{ project.name }}</a></td>
                                    <td>{{ project.description |safe }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}