{% extends "body.html" %}

{% block content %}
	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
            <img src="/{{ university.photo }}" alt="University Image" width=150/>
			<h2>{{ course.tag }}</h2>
			<h3>{{ course.name }}</h3>
            <p>{{ course.description|safe }}</p>
            <h4>Teacher name: &nbsp;<em> {{ course.teacher.teacher.first_name }} {{ course.teacher.teacher.last_name }}</em></h4>
            <!--
            {% if user.is_professor == True %}
                {% if userInCourse %}
                <a href="/university/course/unjoin?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Unjoin this Course</a>
                {% else %}
                <a href="/university/course/join?name={{ university.name }}&course={{ course.tag }}" class="btn btn-default">Join this Course</a>
                {% endif %}
            {% endif %}
            -->
            {% if user.is_professor == True %}
                {% if teacher != None %}
                    {% if teacher.university == course.university %}
                        <a href="/university/course/remove?name={{ course.university.name }}&course={{ course.tag }}" class="btn btn-default">Delete this Course</a>
                        <form style="float: right;" method="post" enctype="multipart/form-data" action="course/addmember?id={{ course.id }}" class="panel-body validate">
                            {% csrf_token %}
                            {{ studentform.as_p }}
                            <input type="submit" value="Add Member" class="btn btn-primary">
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
		</div>
    </div>
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Students</th>
                        {% if user.is_professor == True %}
                            {% if course.teacher.teacher == user %}
                                <th>Deletion</th>
                            {% endif %}
                        {% endif %}
                        <th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in course.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
                        {% if user.is_professor == True %}
                            {% if course.teacher.teacher == user %}
                                <td><a href="course/removemember?cid={{ course.id }}&id={{ item.id }}">Remove student</a></td>
                            {% endif %}
                        {% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
{% endblock %}