{% extends "body.html" %}

{% block content %}
    {% if redirect == 'no' %}
        <meta http-equiv="refresh" content="5;url=/university?name={{ name }}"/>
    {% endif %}
    {% if redirect != 'no' %}
	    <meta http-equiv="refresh" content="5;url=/home"/>
    {% endif %}
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h2>University "{{ name }}" was successfully created!</h2>
			<p>This page will redirect momentarily...if it does not
                {% if redirect == 'no' %}
                <a href="/university?name={{ name }}">click here!</a>
                {% endif %}
                {% if redirect != 'no' %}
                <a href="/home">click here!</a>
                {% endif %}
            </p>
		</div>
	</div>

{% endblock %}